<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.summit.summitproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To get access to the NFC hardware, you have to apply for permission in the manifest. -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PiggyBApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".Splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MerchantTerminalActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SummaryActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerBalanceActivity"
            android:exported="true" />
        <activity android:name=".RedeemActivity"
            />
    </application>

</manifest>